
<div class="container">
    <!-- Listado -->
    <div class="card">
        <div class="card-header" style="background-color:white;">
            <div class="row space-between">
                <div class="col-md-9"><h3>Listado de parciales</h3></div>
                <!-- <div class="col-md-3"><button class="btn btn-primary mdi mdi-plus-circle-outline float-right" id="add-btn" data-toggle="modal" data-target="#edit-modal">  Nuevo</button></div> -->
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered nowrap" id="datatable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    
    <div class="form">
        <div class="dx-fieldset">
           
          <div class="dx-field">
            <div class="dx-field-label">With placeholder</div>
            <div class="dx-field-value">
              <dx-text-box placeholder="Enter full name here..."></dx-text-box>
            </div>
          </div>
          
        </div>
    </div>